<form class="was-validated">
    <div class="form-row" style="margin-top: 50px">
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <h3>Datos del Vendedor</h3>
            <br>
            <label for="tipoIdentificacionPersona">Tipo de Identificacion:</label>
            <select [(ngModel)]="vendedor.tipoIdentificacion.id_tipo_identificacion" name="id_tipo_identificacion" class="browser-default custom-select" [disabled]="true">
                    <option [ngValue]="undefined" disabled>Selecccione un tipo</option>
                        <option  *ngFor="let tipoIdentificacion of tiposIdentificacion" [ngValue]="tipoIdentificacion.id_tipo_identificacion" >{{tipoIdentificacion.tiid_nombre}}</option>          
                </select>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="identificacionPersona">Identificacion:</label>
            <input [(ngModel)]="vendedor.per_identificacion" name="per_identificacion" type="text" class="form-control" id="identifiacionPersona" placeholder="Identificacion" [disabled]="true" required>
            <div class="valid-feedback">
                Identificacion válida.
            </div>

        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="primerNombrePersona">Primer Nombre:</label>
            <input [(ngModel)]="vendedor.per_primer_nombre" name="per_primer_nombre" type="text" class="form-control" id="primerNombrePersona" placeholder="Primer Nombre" [disabled]="true" required>
            <div class="valid-feedback">
                Primer nombre válido.
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="segundoNombrePersona">Segundo Nombre:</label>
            <input [(ngModel)]="vendedor.per_segundo_nombre" name="per_segundo_nombre" type="text" class="form-control" id="segundoNombrePersona" placeholder="Segundo Nombre" [disabled]="true">
            <div class="valid-feedback">
                Segundo nombre válido.
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="primerApellidoPersona">Primer Apellido:</label>
            <input [(ngModel)]="vendedor.per_primer_apellido" name="per_primer_apellido" type="text" class="form-control" id="primerApellidoPersona" placeholder="Primer Apellido" [disabled]="true" required>
            <div class="valid-feedback">
                Primer apellido válido.
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="segundoApellidoPersona">Segundo Apellido:</label>
            <input [(ngModel)]="vendedor.per_segundo_apellido" name="per_segundo_apellido" type="text" class="form-control" id="segundoApellidoPersona" placeholder="Segundo Apellido" [disabled]="true">
            <div class="valid-feedback">
                Segundo apellido válido.
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="emailPersona">Correo electrónico:</label>
            <input [(ngModel)]="vendedor.per_correo" name="per_correo" type="email" class="form-control" id="emailPersona" aria-describedby="emailAyuda" placeholder="E-mail" [disabled]="true" required>
            <small id="emailAyuda" class="form-text text-muted"></small>
        </div>


    </div>


    <div class="form-row">
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="sexosPersona">Sexo:</label>
            <div class="col-md-5"></div>
            <fieldset [disabled]=true>
                <div class="custom-control custom-radio custom-control-inline" style="margin-left: 100px">
                    <input [(ngModel)]="vendedor.per_sexo" name="per_sexo" type="radio" class="custom-control-input" id="sexoFemenino" value="Femenino">
                    <label class="radio-inline custom-control-label" for="sexoFemenino">Femenino</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input [(ngModel)]="vendedor.per_sexo" name="per_sexo" type="radio" class="custom-control-input" id="sexoMasculino" value="Masculino">
                    <label class=" radio-inline custom-control-label" for="sexoMasculino">Masculino</label>
                </div>
            </fieldset>
        </div>

        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="nickUsuarioPersona">Nombre de usuario (Nick):</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="formatoUsuarioPersona">@</span>
                </div>
                <input [(ngModel)]="vendedor.usuario.user_nick" name="user_nick" type="text" class="form-control" id="nickUsuarioPersona" placeholder="nickname" aria-describedby="formatoUsuarioPersona" [disabled]="true">
                <div class="invalid-feedback">
                    Por favor ingrese un nombre de usuario válido!
                </div>
            </div>
        </div>


        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2 mb-3">
            <label for="maximoProductosVendedor">Máximo de productos:</label>
            <input [(ngModel)]="vendedor.vend_max_productos" name="vend_max_productos" class="form-control" type="number" value="1" id="example-number-input" min="1" [disabled]="true">

        </div>


    </div>
    <div class="form-row">
        <div class="col-md-5"></div>
        <button (click)="eliminar(vendedor)" class="btn btn-danger btn-sm" type="submit" style="margin-left: 20px; height: 40px; width: 300px; font-size: 15px">ELIMINAR</button>
    </div>
</form>