<div class="container-fluid">
    <div class="row m-4">
        <div class="col-md-10 offset-md-1">

            <div class="form-inline">
                <h2 class="mr-sm-2">Ingreso de Unidad</h2>
                <button (click)="mostrar = !mostrar" class="btn btn-outline-dark" id="mostrar">Mostrar
                    Formulario</button>

            </div>
            <hr>

            <form *ngIf="mostrar">

                <div class="form-row">

                    <div class="col-md-6 form-group">
                        <label for="nombreUnidad">Nombre de Unidad</label>
                        <input [(ngModel)]="unidad.unid_nombre" type="text" class="form-control" name="nombreUnidad" id="nombreUnidad">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="codigoUnidad">Código de Unidad</label>
                        <input [(ngModel)]="unidad.unid_codigo" type="text" class="form-control" name="codigoUnidad" id="codigoUnidad">
                    </div>

                </div>

                <div class="form-row">

                    <div class="col-md-4 offset-md-5">
                        <button (click)="guardarUnidad()" type="submit" class="btn btn-dark">Guardar Unidad</button>
                    </div>

                </div>

            </form>

        </div>
    </div>

    <div class="row m-4">
        <div class="col-md-10 offset-md-1">

            <h2>Lista de Unidades</h2><hr>

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre de Unidad</th>
                        <th scope="col">Código de Unidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of unidades">
                        <th>{{ item.id_unidad }}</th>
                        <td>{{ item.unid_nombre }}</td>
                        <td>{{ item.unid_codigo }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>